<?xml version="1.0" encoding="UTF-8" ?>
<AtlasInterface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.instantatlas.com/xml/atlas" classes="ia-report ia-selection-color ia-highlight-color ia-panel ia-panel-resize-btn ia-panel-header ia-datatip ia-tooltip button ia-button:hover ia-button:active ia-text ia-title-text ia-image ia-list-item:hover ia-list-item:active" edit-mode="Wireframe" name="IA6 General" schema-version="1.6" template="timeseries_advanced_sm::flash::html" template-version="6.7.2" width="800" xsi:schemaLocation="http://www.instantatlas.com/xml/atlas ../../../xml/atlas-ui-v1.4.xsd">
<Component classes="ia-panel ia-panel-header ia-explorer-item" editable="true" height="400" icon="$IAICON/48x48/text_code.png" id="dataExplorer" moveable="true" name="Menú de datos" removeable="true" resizeable="true" visible="true" width="300" x="20" y="48">
	<Description>The data explorer component of the report.</Description>
	<Property description="Título del gráfico" id="title" name="Título" type="string" value="" />
	<Property description="¿Visible a iniciar? El función es &apos;javascript:iaToggle(dataExplorer)&apos; " id="visible" name="¿Visible al inicio?" type="boolean" value="false" />
	<Property description="El índice z" id="zIndex" name="Índice z" type="integer" value="101" />
	<Property description="Se oculta cuando se le da al raton fuera" id="isPopUp" name="¿Popup?" type="boolean" value="true" />
	<Property description="¿Ocultar el explorador para una selección?" id="hideOnSelection" name="¿Ocultar para una selección?" type="boolean" value="true" />
	<Property description="¿Mostrar fechas?" id="showDates" name="Mostrar fechas" type="boolean" value="true" />
	<Property description="¿Invertir fechas?" id="reverseDates" name="¿Invertir fechas?" type="boolean" value="true" />
	<Property description="¿Cerrar los otros niveles del menú al momento de abrir un nuevo nivel?" id="closeBranchesOnSelection" name="¿Cerrar niveles del menú?" type="boolean" value="true" />
</Component>
<Component classes="ia-panel ia-panel-header ia-explorer-item" editable="true" height="400" icon="$IAICON/48x48/text_code.png" id="filterExplorer" moveable="true" name="Menú de filtros" removeable="true" resizeable="true" visible="true" width="300" x="83" y="48">
	<Description>The filter explorer component of the report.</Description>
	<Property description="Título del gráfico" id="title" name="Título" type="string" value="" />
	<Property description="¿Visible a iniciar? El función es &apos;javascript:iaToggle(filterExplorer)&apos; " id="visible" name="¿Visible al inicio?" type="boolean" value="false" />
	<Property description="El índice z" id="zIndex" name="Índice z" type="integer" value="102" />
	<Property description="Se oculta cuando se le da al raton fuera" id="isPopUp" name="¿Popup?" type="boolean" value="true" />
	<Property description="¿Ocultar el explorador para una selección?" id="hideOnSelection" name="¿Ocultar para una selección?" type="boolean" value="true" />
	<Property description="¿Cerrar los otros niveles del menú al momento de abrir un nuevo nivel?" id="closeBranchesOnSelection" name="¿Cerrar niveles del menú?" type="boolean" value="true" />
</Component>
<Component classes="ia-panel ia-panel-header ia-explorer-item" editable="true" height="240" icon="$IAICON/48x48/text_code.png" id="geogExplorer" moveable="true" name="Menú de cartografía" removeable="true" resizeable="true" visible="true" width="240" x="485" y="78">
	<Description>The data explorer component of the report.</Description>
	<Property description="Título del gráfico" id="title" name="Título" type="string" value="Seleccionar una geografía para visualizar" />
	<Property description="¿Visible a iniciar? El función es &apos;javascript:iaToggle(geogExplorer)&apos; " id="visible" name="¿Visible al inicio?" type="boolean" value="false" />
	<Property description="El índice z" id="zIndex" name="Índice z" type="integer" value="101" />
	<Property description="Se oculta cuando se le da al raton fuera" id="isPopUp" name="¿Popup?" type="boolean" value="true" />
	<Property description="¿Ocultar el explorador para una selección?" id="hideOnSelection" name="¿Ocultar para una selección?" type="boolean" value="true" />
</Component>
<Component classes="ia-panel ia-panel-header ia-map-toolbar ia-map-labels ia-map-copyright ia-map-selection-opacity ia-map-highlight-opacity" editable="true" height="385" icon="$IAICON/48x48/document_earth.png" id="map" moveable="true" name="Mapa" removeable="true" resizeable="true" visible="true" width="420" x="160" y="20">
	<Description>The map component of the report.</Description>
	<Property description="Título del gráfico" id="title" name="Título" type="string" value="${themeName(&apos; &gt;&gt; &apos;)} ${notEmpty(themeName, &apos;&gt;&gt; &apos;)} ${indicatorName} ${notEmpty(date, &apos;(&apos;)}${date}${notEmpty(date, &apos;)&apos;)} ${notEmpty(filterName, &apos;&gt;&gt; &apos;)} ${filterValue}" />
	<Property description="¿Visible a iniciar? El función es &apos;javascript:iaToggle(map)&apos; " id="visible" name="¿Visible al inicio?" type="boolean" value="true" />
	<Property description="El índice z" id="zIndex" name="Índice z" type="integer" value="2" />
	<Property description="Se oculta cuando se le da al raton fuera" id="isPopUp" name="¿Popup?" type="boolean" value="false" />
	<Property description="Exportar como imagen?" id="isExportable" name="¿Se exporta?" type="boolean" value="true" />
	<Property description="El copyright del mapa" id="copyrightText" name="Copyright mapa" type="string" value="© Copyright" />
	<Property description="El URL de una carpeta con los imagenes de la cartografía de fondo" id="backgroundMappingPath" name="Carpeta de fondo" type="string" value="./" />
	<Property description="Zoom máximo del mapa en unidades del mapa (por ejempo Zoom máximo:500000, Zoom mínimo:10000000). Cuando se utiliza Google Maps, utilizar los niveles de zoom 0 - 21 (por ejemplo Zoom máximo:15, Zoom mínimo:5)" id="maxZoomAllowed" name="Zoom máximo" type="integer" value="-1" />
	<Property description="Zoom mínimo del mapa en unidades del mapa (por ejempo Zoom máximo:500000, Zoom mínimo:10000000). Cuando se utiliza Google Maps, utilizar los niveles de zoom 0 - 21 (por ejemplo Zoom máximo:15, Zoom mínimo:5)" id="minZoomAllowed" name="Zoom mínimo" type="integer" value="-1" />
	<Property description="El texto información para los datos" id="tip" name="Descripción emergente" type="string" value="${featureName}: ${indicatorValue}" />
	<Property description="Texto botón Limpiar - dejar vacío para ocultar el botón" id="clearButtonText" name="Texto Limpiar" type="string" value="Limpiar" />
	<Property description="Texto botón Filtro - dejar vacío para eliminar el botón" id="filterButtonText" name="Texto filtro" type="string" value="Filtro" />
	<Property description="Barra de herramientas Google – texto &apos;Gris&apos;" id="googleGreyscaleText" name="Texto Google gris" type="string" value="Gris" />
	<Property description="Barra de herramientas Google – texto &apos;Quitar&apos;" id="googleOffText" name="Texto Quitar Google" type="string" value="X" />
	<Property description="¿Incluir búsqueda?" id="includeSearchTool" name="¿Incluir la herramienta de búsqueda?" type="boolean" value="false" />
</Component>
<Component classes="ia-panel ia-panel-header ia-chart" editable="true" height="163" icon="$IAICON/48x48/column-chart.png" id="barChart" moveable="true" name="Gráfico de columnas" removeable="true" resizeable="true" visible="true" width="190" x="590" y="415">
	<Description>The bar chart component of the report.</Description>
	<Property description="Título del gráfico" id="title" name="Título" type="string" value="" />
	<Property description="¿Visible a iniciar? El función es &apos;javascript:iaToggle(barChart)&apos; " id="visible" name="¿Visible al inicio?" type="boolean" value="true" />
	<Property description="El índice z" id="zIndex" name="Índice z" type="integer" value="3" />
	<Property description="Se oculta cuando se le da al raton fuera" id="isPopUp" name="¿Popup?" type="boolean" value="false" />
	<Property description="Exportar como imagen?" id="isExportable" name="¿Se exporta?" type="boolean" value="true" />
	<Property description="Datos para el gráfico" id="data" name="Datos" type="string" value="value" />
	<Property description="El texto información para los datos" id="tip" name="Descripción emergente" type="string" value="${featureName}: ${indicatorValue}${notEmpty(lowerLimit, &apos;&lt;br/&gt;LI: &apos;)}${lowerLimit}${notEmpty(upperLimit, &apos;&lt;br/&gt;LS: &apos;)}${upperLimit}" />
	<Property description="¿Los datos de comparación deben aparecer?" id="showComparison" name="¿Visualizar datos de comparación?" type="boolean" value="false" />
	<Property choices="horizontal;vertical" description="Orientación del gráfico" id="orientation" name="Orientación" type="string" value="vertical" />
	<Property choices="ascending;descending" description="Como ordenar los datos" id="sortDirection" name="Orden (ascendente, descendente) " type="string" value="ascending" />
	<Property description="¿Ajustar el eje del gráfico a los datos? " id="useTightLabels" name="¿Corresponder eje a los datos?" type="boolean" value="false" />
	<Property description="¿Empezar las barras del gráfico del cero?" id="drawBarsFromZero" name="¿Dibujar las barras desde cero?" type="boolean" value="false" />
	<Property description="La etiqueta del eje X" id="xAxisTitle" name="Etiqueta eje X" type="string" value="" />
	<Property description="La etiqueta del eje Y" id="yAxisTitle" name="Etiqueta eje Y" type="string" value="" />
	<Property description="¿Utilizar valores fijos para el eje del gráfico?" id="useFixedValues" name="¿Utilizar valores fijos?" type="boolean" value="false" />
	<Property description="Valor mínimo fijo para el eje datos del gráfico" id="fixedMinValue" name="Valor mínimo fijo" type="float" value="0.0" />
	<Property description="Valor máximo fijo para el eje datos del gráfico" id="fixedMaxValue" name="Valor máximo fijo" type="float" value="0.0" />
	<Property description="Propriedad custom con un valor mínimo fijo para el eje datos del gráfico" id="minChartValue" name="Propriedad valor mínimo fijo del eje" type="string" value="minChartValue" />
	<Property description="Propriedad custom con un valor máximo fijo para el eje datos del gráfico" id="maxChartValue" name="Propriedad valor máximo fijo del eje" type="string" value="maxChartValue" />
</Component>
<Component classes="ia-panel ia-panel-header" editable="true" height="191" icon="$IAICON/48x48/pie-chart.png" id="pieChart" moveable="true" name="Gráfico circular" removeable="true" resizeable="true" visible="true" width="120" x="20" y="381">
	<Description>The pie chart component of the report.</Description>
	<Property description="Título del gráfico" id="title" name="Título" type="string" value="" />
	<Property description="¿Visible a iniciar? El función es &apos;javascript:iaToggle(pieChart)&apos; " id="visible" name="¿Visible al inicio?" type="boolean" value="true" />
	<Property description="El índice z" id="zIndex" name="Índice z" type="integer" value="5" />
	<Property description="Se oculta cuando se le da al raton fuera" id="isPopUp" name="¿Popup?" type="boolean" value="false" />
	<Property description="Exportar como imagen?" id="isExportable" name="¿Se exporta?" type="boolean" value="true" />
	<Property description="Texto cuando no hay datos para el gráfico" id="notAvailableText" name="Texto no disponible" type="string" value="No disponible" />
	<Property description="El texto información para los datos" id="tip" name="Descripción emergente" type="string" value="${name}: ${percentage}% (${value})" />
</Component>
<Component classes="ia-panel ia-panel-header ia-layer-list-item ia-legend-item" editable="true" height="302" icon="$IAICON/48x48/form_blue.png" id="legend" moveable="true" name="Leyenda" removeable="true" resizeable="true" visible="true" width="120" x="20" y="60">
	<Description>The list of layers.</Description>
	<Property description="Título del gráfico" id="title" name="Título" type="string" value="" />
	<Property description="¿Visible a iniciar? El función es &apos;javascript:iaToggle(legend)&apos; " id="visible" name="¿Visible al inicio?" type="boolean" value="true" />
	<Property description="El índice z" id="zIndex" name="Índice z" type="integer" value="12" />
	<Property description="Se oculta cuando se le da al raton fuera" id="isPopUp" name="¿Popup?" type="boolean" value="false" />
	<Property description="¿Mostrar el botón editar leyenda?" id="showLegendEditorButton" name="¿Opción Cambiar Leyenda?" type="boolean" value="true" />
</Component>
<Table classes="ia-panel ia-panel-header ia-table-toolbar ia-table-header ia-table-cell ia-table-cell-numeric ia-table-cell-categoric ia-table-row-even ia-table-row-odd" editable="true" height="385" icon="$IAICON/48x48/table_sql.png" id="table" moveable="true" name="Tabla" removeable="true" resizeable="true" visible="true" width="190" x="590" y="20">
	<Description>The table component of the report.</Description>
	<Property description="Título del gráfico" id="title" name="Título" type="string" value="" />
	<Property description="¿Visible a iniciar? El función es &apos;javascript:iaToggle(table)&apos; " id="visible" name="¿Visible al inicio?" type="boolean" value="true" />
	<Property description="El índice z" id="zIndex" name="Índice z" type="integer" value="1" />
	<Property description="Se oculta cuando se le da al raton fuera" id="isPopUp" name="¿Popup?" type="boolean" value="false" />
	<Property description="¿Exportar?" id="isExportable" name="¿Se exporta?" type="boolean" value="true" />
	<Property description="La columna para ordenar la tabla" id="sortColumnName" name="La columna para ordenar" type="string" value="name" />
	<Property description="¿Permitir a los usuarios ordenar las columnas?" id="allowUserSorting" name="¿El usuario puede ordenar?" type="boolean" value="true" />
	<Property choices="Ascending;Descending" description="Orden de la tabla (ascendente, descendente) " id="sortDirection" name="Orden (ascendente, descendente) " type="string" value="Ascending" />
	<Property description="¿Hacer zoom al objecto del mapa cuando se selecciona?" id="zoomOnSelection" name="¿Hacer zoom cuando se selecciona?" type="boolean" value="true" />
	<Property description="Texto botón Limpiar - dejar vacío para ocultar el botón" id="clearButtonText" name="Texto Limpiar" type="string" value="Limpiar" />
	<Property description="Texto botón Filtro - dejar vacío para eliminar el botón" id="filterButtonText" name="Texto filtro" type="string" value="Filtro" />
	<Property description="¿Mostrar el color de la leyenda en la tabla?" id="showLegendColor" name="Mostrar color leyenda" type="boolean" value="true" />
	<Column alias="Nombre" name="name" width="0.5" />
	<Column alias="${indicatorName} ${notEmpty(date, &apos;(&apos;)}${date}${notEmpty(date, &apos;)&apos;)}" name="value" width="0.5" />
</Table>
<PropertyGroup id="selection" name="Selección">
	<Property choices="single;multiple" description="El modo de selección" id="selectionMode" name="Tipo de selección" type="string" value="multiple" />
</PropertyGroup>
<PropertyGroup id="exportText" name="Texto exportar">
	<Property description="Texto mostrado para exportar imagenes" id="saveImageText" name="Texto guardar imagen" type="string" value="Clic derecha para guardar imagen..." />
</PropertyGroup>
<PropertyGroup id="shareText" name="Texto compartir">
	<Property description="Texto para mandar el informe en un email" id="emailReportText" name="Texto mandar por email" type="string" value="Mandar informe - copiar y pegar enlace en un email" />
	<Property description="Texto mostrado cuando se incrusta el informe" id="embedReportText" name="Texto incrustrar informe" type="string" value="Incrustar informe - copiar y pegar el HTML en una pagina web" />
</PropertyGroup>
<PropertyGroup id="dataFormatting" name="Formato de datos">
	<Property choices="none;en;de;es;fr;it;nl;be;ca;cs;da;el;et;fi;hr;hu;is;lt;lv;mk;no;pl;pt;ro;ru;sk;sl;sq;sr;sv;tr;uk" description="La configuración regional utilizada para formatear números, ej. &apos;en&apos; para Inglés, &apos;es&apos; para Español, &apos;fr&apos; para Francés" id="locale" name="Configuración regional de números" type="string" value="es" />
	<Property description="The text displayed for features that have &apos;No Data&apos; or null values" id="noDataValue" name="Mensaje &apos;Sin Datos&apos;" type="string" value="Sin Datos" />
	<Property description="El número de decimales. Utilizar -1 para utilizar decimales automáticos" id="ndecimal" name="Decimales para datos" type="integer" value="-1" />
</PropertyGroup>
<PropertyGroup id="thematics" name="Propiedades de la leyenda personalizada">
	<Property description="Color de la clase sin datos de la leyenda" id="noDataColor" name="Color sin datos" type="colour" value="#ffffff" />
	<Property description="Datos para el leyenda" id="data" name="Datos" type="string" value="value" />
	<Property description="Numero de decimales para la leyenda. Rellenar -1 para decimales dinámicos." id="legendPrecision" name="Decimales para la leyenda" type="integer" value="-1" />
	<Property choices="circle;diamond;star;triangle up;triangle down;triangle right;triangle left;arrow up;arrow down;arrow right;arrow left;circle;plus;x" description="Símbolo para datos de tipo puntos" id="symbolShape" name="Forma símbolo puntos" type="string" value="circle" />
	<Property description="El tamaño mínimo de puntos en el mapa" id="minSymbolSize" name="Tamaño mínimo de puntos" type="integer" value="15" />
	<Property description="El tamaño máximo utilizado para visualizar símbolos proporcionales" id="maxSymbolSize" name="Tamaño máximo de puntos" type="integer" value="50" />
	<Property description="Tamaño mínimo para visualizar bordes " id="minLineSize" name="Grosor mínimo de la línea" type="integer" value="2" />
	<Property description="Tamaño máximo para visualizar bordes" id="maxLineSize" name="Grosor borde máximo" type="integer" value="6" />
	<Property choices="equalInterval;quantile;natural;continuous;standardDeviation" description="El tipo de clasificación en la leyenda" id="legendClassifier" name="Clasificación por defecto" type="string" value="quantile" />
	<Property description="Los intervalos de la leyenda – una lista de valores delimitados por ; en el formato &apos;0;10;20;30&apos;" id="legendBreaks" name="Intervalos de la leyenda" value="" />
	<Property description="Las etiquetas de la leyenda – una lista de valores delimitados por ; en el formato &apos;bajo;mediano;alto&apos;. Es necesario que &apos; Intervalos de la leyenda &apos; esta implementado." id="legendLabels" name="Etiquetas de leyenda" value="" />
	<Property description="Parámetro para utilisar una clasificación por defecto" id="customClassifierKey" name="Parámetro clasificación por defecto" value="customClassifier" />
	<Property description="Parámetro para utilisar colores personalizados" id="customColoursKey" name="Parámetro colores personalizados" value="upperQuartile" />
	<Property description="Parámetro para utilisar categorías personalizadas" id="customBreaksKey" name="Parámetro categorías personalizadas" value="customBreaks" />
	<Property description="Parámetro para utilisar etiquetas de categorías personalizadas" id="customLabelsKey" name="Parámetro etiquetas de categorías personalizadas" value="customLabels" />
	<Property description="Parámetro para utilisar  paletas personalizadas" id="customPaletteKey" name="Parámetro paletas personalizadas" value="customPalette" />
	<Property description="Texto para Intervalos iguales" id="equalInterval" name="Texto Intervalos iguales" type="string" value="Intervalos Iguales" />
	<Property description="Texto para Cuantiles" id="quantile" name="Texto Cuantiles" type="string" value="Cuantiles" />
	<Property description="Texto Categorías naturales" id="natural" name="Texto Categorías naturales" type="string" value="Categorías naturales" />
	<Property description="Texto Continua" id="continuous" name="Texto Continua" type="string" value="Continua" />
	<Property description="Texto Desviación estándar" id="standardDeviation" name="Texto Desviación estándar" type="string" value="Desviación estándar" />
	<Property description="El tamaño del intervalo a utilizar para la desviación estándar" id="sdSize" name="Intervalo desviación estándar" type="integer" value="1" />
	<Property description="Texto categoría 1 de la clasifición desviación estándar" id="sd1" name="Texto categoría 1" type="string" value="&gt; 2 des. est. bajo media" />
	<Property description="Texto categoría 2 de la clasifición desviación estándar" id="sd2" name="Texto categoría 2" type="string" value="1 - 2 des. est. bajo media" />
	<Property description="Texto categoría 3 de la clasifición desviación estándar" id="sd3" name="Texto categoría 3" type="string" value="0 - 1 des. est. bajo media" />
	<Property description="Texto categoría 4 de la clasifición desviación estándar" id="sd4" name="Texto categoría 4" type="string" value="0 - 1 des. est. sup. media" />
	<Property description="Texto categoría 5 de la clasifición desviación estándar" id="sd5" name="Texto categoría 5" type="string" value="1 - 2 des. est. sup. media" />
	<Property description="Texto categoría 6 de la clasifición desviación estándar" id="sd6" name="Texto categoría 6" type="string" value="&gt; 2 des. est. sup. media" />
</PropertyGroup>
<PropertyGroup id="legendEditor" name="Editor de leyenda">
	<Property description="¿Mostrar objeto tipo de leyenda?" id="showLegendTypePanel" name="¿Mostrar objeto tipo de leyenda?" type="boolean" value="true" />
	<Property description="¿Mostrar herramientas leyenda?" id="showLegendTools" name="¿Mostrar herramientas leyenda?" type="boolean" value="true" />
	<Property description="¿Mostrar el objeto paleta?" id="showPalettePanel" name="Mostrar el objeto paleta" type="boolean" value="true" />
	<Property description="¿Mostrar el objeto tamaño?" id="showSizePanel" name="¿Mostrar el objeto tamaño?" type="boolean" value="true" />
</PropertyGroup>
<Button editable="true" height="27" href="javascript:iaToggle(dataExplorer)" id="dataButton" moveable="true" removeable="true" resizeable="true" text="Datos" tooltip="" width="58" x="20" y="20" />
<Button editable="true" height="27" href="javascript:iaToggle(filterExplorer)" id="filterButton" moveable="true" removeable="true" resizeable="true" text="Filtro" tooltip="" width="58" x="83" y="20" />
<Button editable="true" height="27" href="javascript:iaToggle(geogExplorer)" id="geographyButton" moveable="true" removeable="true" resizeable="true" text="Geografía" tooltip="" width="75" x="485" y="50" />
<MapPalettes classes="5" default="Sequential Cyan" maxclasses="10">
	<ColourRange id="Sequential Red">
		<Colour>#fee5d9</Colour>
		<Colour>#fcae91</Colour>
		<Colour>#fb6a4a</Colour>
		<Colour>#de2d26</Colour>
		<Colour>#a50f15</Colour>
	</ColourRange>
	<ColourRange id="Sequential Purple">
		<Colour>#feebe2</Colour>
		<Colour>#fbb4b9</Colour>
		<Colour>#f768a1</Colour>
		<Colour>#c51b8a</Colour>
		<Colour>#7a0177</Colour>
	</ColourRange>
	<ColourRange id="Sequential Blue">
		<Colour>#eff3ff</Colour>
		<Colour>#bdd7e7</Colour>
		<Colour>#6baed6</Colour>
		<Colour>#3182bd</Colour>
		<Colour>#08519c</Colour>
	</ColourRange>
	<ColourRange id="Sequential Cyan">
		<Colour>#e4f4f8</Colour>
		<Colour>#c0e7f0</Colour>
		<Colour>#6bc1d7</Colour>
		<Colour>#2198b5</Colour>
		<Colour>#07576b</Colour>
	</ColourRange>
	<ColourRange id="Sequential Green">
		<Colour>#edf8e9</Colour>
		<Colour>#bae4b3</Colour>
		<Colour>#74c476</Colour>
		<Colour>#31a354</Colour>
		<Colour>#006d2c</Colour>
	</ColourRange>
	<ColourRange id="Sequential Grey">
		<Colour>#f0f0f0</Colour>
		<Colour>#bdbdbd</Colour>
		<Colour>#111111</Colour>
	</ColourRange>
	<ColourRange id="Sequential Red Yellow">
		<Colour>#ffffcc</Colour>
		<Colour>#feb24c</Colour>
		<Colour>#b10026</Colour>
	</ColourRange>
	<ColourRange id="Sequential Blue Yellow">
		<Colour>#ffffd9</Colour>
		<Colour>#7fcddb</Colour>
		<Colour>#0c2c83</Colour>
	</ColourRange>
	<ColourRange id="Sequential Green Yellow">
		<Colour>#ffffe5</Colour>
		<Colour>#addd8e</Colour>
		<Colour>#005a32</Colour>
	</ColourRange>
	<ColourRange id="Diverging Red to Blue">
		<Colour>#ca0020</Colour>
		<Colour>#f4a582</Colour>
		<Colour>#eef1f2</Colour>
		<Colour>#92c5de</Colour>
		<Colour>#0571b0</Colour>
	</ColourRange>
	<ColourRange id="Diverging Purple to Green">
		<Colour>#762a83</Colour>
		<Colour>#e7d4e8</Colour>
		<Colour>#f7f7f7</Colour>
		<Colour>#d9f0d3</Colour>
		<Colour>#1b7837</Colour>
	</ColourRange>
	<ColourRange id="Diverging Orange to Purple">
		<Colour>#e66101</Colour>
		<Colour>#fdb863</Colour>
		<Colour>#f7f7f7</Colour>
		<Colour>#b2abd2</Colour>
		<Colour>#5e3c99</Colour>
	</ColourRange>
	<ColourRange id="Diverging Red to Grey">
		<Colour>#ca0020</Colour>
		<Colour>#f4a582</Colour>
		<Colour>#f7f7f7</Colour>
		<Colour>#bababa</Colour>
		<Colour>#404040</Colour>
	</ColourRange>
	<ColourRange id="Diverging Red Yellow Blue">
		<Colour>#ca373b</Colour>
		<Colour>#fdae61</Colour>
		<Colour>#ffffbf</Colour>
		<Colour>#abd9e9</Colour>
		<Colour>#2c7bb6</Colour>
	</ColourRange>
	<ColourRange id="Diverging Red Yellow Green">
		<Colour>#d7191c</Colour>
		<Colour>#fdae61</Colour>
		<Colour>#ffffbf</Colour>
		<Colour>#a6d96a</Colour>
		<Colour>#1a9641</Colour>
	</ColourRange>
	<ColourScheme id="categoricScheme1">
		<ColourMatch for="__next">#8dd3c7</ColourMatch>
		<ColourMatch for="__next">#ffffbc</ColourMatch>
		<ColourMatch for="__next">#bebada</ColourMatch>
		<ColourMatch for="__next">#fb8072</ColourMatch>
		<ColourMatch for="__next">#80b1d3</ColourMatch>
		<ColourMatch for="__next">#fdb462</ColourMatch>
		<ColourMatch for="__next">#b3de69</ColourMatch>
		<ColourMatch for="__next">#fccdef</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme2">
		<ColourMatch for="__next">#fbb3ad</ColourMatch>
		<ColourMatch for="__next">#b2cce2</ColourMatch>
		<ColourMatch for="__next">#ccebc5</ColourMatch>
		<ColourMatch for="__next">#decbe4</ColourMatch>
		<ColourMatch for="__next">#fed9a5</ColourMatch>
		<ColourMatch for="__next">#ffffcc</ColourMatch>
		<ColourMatch for="__next">#e4d7bc</ColourMatch>
		<ColourMatch for="__next">#fddaec</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme3">
		<ColourMatch for="__next">#e31a1c</ColourMatch>
		<ColourMatch for="__next">#377db8</ColourMatch>
		<ColourMatch for="__next">#4daf4a</ColourMatch>
		<ColourMatch for="__next">#984ea3</ColourMatch>
		<ColourMatch for="__next">#ff7f00</ColourMatch>
		<ColourMatch for="__next">#ffff33</ColourMatch>
		<ColourMatch for="__next">#a65628</ColourMatch>
		<ColourMatch for="__next">#f781bf</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme4">
		<ColourMatch for="__next">#b3e2cd</ColourMatch>
		<ColourMatch for="__next">#fdcdac</ColourMatch>
		<ColourMatch for="__next">#cbd5a8</ColourMatch>
		<ColourMatch for="__next">#f4cae4</ColourMatch>
		<ColourMatch for="__next">#e6f5c9</ColourMatch>
		<ColourMatch for="__next">#fff2ae</ColourMatch>
		<ColourMatch for="__next">#f1e2cc</ColourMatch>
		<ColourMatch for="__next">#cccccc</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme5">
		<ColourMatch for="__next">#66c2a5</ColourMatch>
		<ColourMatch for="__next">#fc8d62</ColourMatch>
		<ColourMatch for="__next">#8da0cb</ColourMatch>
		<ColourMatch for="__next">#e78ac3</ColourMatch>
		<ColourMatch for="__next">#a6d854</ColourMatch>
		<ColourMatch for="__next">#ffd92f</ColourMatch>
		<ColourMatch for="__next">#e5c494</ColourMatch>
		<ColourMatch for="__next">#b3b3b3</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme6">
		<ColourMatch for="__next">#1b9e77</ColourMatch>
		<ColourMatch for="__next">#d95f02</ColourMatch>
		<ColourMatch for="__next">#7570b3</ColourMatch>
		<ColourMatch for="__next">#e7298a</ColourMatch>
		<ColourMatch for="__next">#66a61e</ColourMatch>
		<ColourMatch for="__next">#e6ab02</ColourMatch>
		<ColourMatch for="__next">#a6761d</ColourMatch>
		<ColourMatch for="__next">#666666</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme7">
		<ColourMatch for="__next">#a6cee3</ColourMatch>
		<ColourMatch for="__next">#1f77b4</ColourMatch>
		<ColourMatch for="__next">#b2df8a</ColourMatch>
		<ColourMatch for="__next">#33a02c</ColourMatch>
		<ColourMatch for="__next">#fb9a99</ColourMatch>
		<ColourMatch for="__next">#e31a1c</ColourMatch>
		<ColourMatch for="__next">#fdbf6f</ColourMatch>
		<ColourMatch for="__next">#ff7f00</ColourMatch>
	</ColourScheme>
	<ColourScheme id="categoricScheme8">
		<ColourMatch for="__next">#7fc97f</ColourMatch>
		<ColourMatch for="__next">#beaed4</ColourMatch>
		<ColourMatch for="__next">#fdc086</ColourMatch>
		<ColourMatch for="__next">#ffff99</ColourMatch>
		<ColourMatch for="__next">#386cb0</ColourMatch>
		<ColourMatch for="__next">#f0027f</ColourMatch>
		<ColourMatch for="__next">#bf5b17</ColourMatch>
		<ColourMatch for="__next">#666666</ColourMatch>
	</ColourScheme>
	<ColourScheme id="chartScheme1">
		<ColourMatch for="__next">#3AAACF</ColourMatch>
		<ColourMatch for="__next">#FFBB73</ColourMatch>
		<ColourMatch for="__next">#5FD2B5</ColourMatch>
		<ColourMatch for="__next">#FE7276</ColourMatch>
		<ColourMatch for="__next">#7373DF</ColourMatch>
		<ColourMatch for="__next">#FF7140</ColourMatch>
		<ColourMatch for="__next">#1c71a9</ColourMatch>
		<ColourMatch for="__next">#BF8430</ColourMatch>
	</ColourScheme>
</MapPalettes>
<SubstitutionVariables>
	<Variable description="El nombre de la cartografía de base" id="geogName" />
	<Variable description="El nombre del tema activo" id="themeName" />
	<Variable description="El nombre del indicador activo " id="indicatorName" />
	<Variable description="El nombre del indicador activo (y la fecha)" id="date" />
	<Variable description="El nombre del filtro" id="filterName" />
	<Variable description="El nombre del filtro" id="filterValue" />
	<Variable description="Nombre del objeto seleccionado" id="selectedFeature" />
	<Variable description="Nombre del objeto seleccionado" id="featureName" />
	<Variable description="El valor del objeto destacado" id="indicatorValue" />
	<Variable description="Limite inferior del indicador del mapa" id="lowerLimit" />
	<Variable description="Limite superior del indicador del mapa" id="upperLimit" />
</SubstitutionVariables>
<Text anchor="start" editable="true" fill="#000000" font-family="Calibri" font-size="14.0" font-style="normal" font-weight="normal" id="___user_extra_39" moveable="true" removeable="true" resizeable="true" rotate="0" target="_self" wrap-width="420" x="160" y="420">El Índice de Rezago Social (IRS) es la media geométrica de las variables del CONEVAL con estandarización balanceada (zEB), igualmente ponderadas y apiladas para el periodo de estudio. La estratificación del IRS en cada año corresponde a las discontinuidades naturales (Natural Breaks) de Jenks, disponible en el complemento Real Statistics de Excel (https://real-statistics.com). Las variables más importantes en el IRS son Población sin derechohabiencia a servicios de salud y Viviendas con piso de tierra , con una participación aproximada del 20%, cada una, en el periodo de estudio.</Text>
</AtlasInterface>